
{{#feedback}}
<div class="mb-2">
    <div class="media">

        <div class="mr-3 bg-cover rounded-circle d-inline-block" style="background-image: url('{{{tutoricon}}}'); height:3em; width: 3em;"></div>

        <div class="media-body">
            <small>{{coursename}}</small>
            <h6><a href="{{{link}}}" class="">{{activityname}}</a></h6>
        </div>
    </div>

    <div class='text-right'>
        <small>{{tutorname}} · {{date}}</small>
    </div>
    <hr>
</div>
{{/feedback}}


{{#nofeedback}}
<p>{{#str}} norecentfeedback, block_my_feedback {{/str}}</p>
{{/nofeedback}}

<div class="text-right py-2">
    <a href="{{{allfeedbackurl}}}" class="" ><i class="fa fa-arrow-right mr-2" aria-hidden="true"></i>
    {{#str}} viewallfeedback, block_my_feedback {{/str}}
    </a>
</div>


