{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template blocks_my_feedback/content
    Example context (json):
    {
        "showfeedbacktrackerlink": "true",
        "mods": [
         {
            "icon": "moodleurl/icon.png",
            "coursename": "A course",
            "name": "A mod",
            "url": "foo.php",
            "duedate": "10th Jan 2023",
            "tutorname": "Bob Smith",
            "date": "24th March 2023",
            "requiremarking": "3"
         }
        ]
    }
}}

{{! Mods for feedback and marking. }}
{{#mods}}
<div class="d-flex">

    <div class="mr-3 bg-cover bg-light rounded-circle flex-shrink-0" style="background-image: url('{{{icon}}}'); height: 4rem; width: 4rem;"></div>

    <div>
        <div class="line-clamp-1 text-muted">
            <small>{{coursename}}</small>
        </div>
        <a href="{{{url}}}" class="font-weight-bold">{{name}}</a>
        {{#duedate}}
        <div>
            <small>{{#str}} t:due, block_my_feedback {{/str}} {{duedate}}</small>
        </div>
        {{/duedate}}
    </div>
</div>

<div class='text-right small'>
    {{! Student. }}
    {{#date}}
        {{#tutorname}}{{.}} · {{/tutorname}} {{date}}
    {{/date}}

    {{! Admin. }}
    {{#requiremarking}}
        <a href="{{{markingurl}}}">{{requiremarking}} {{#str}} t:needmarking, block_my_feedback {{/str}}</a>
    {{/requiremarking}}
</div>
<hr>
{{/mods}}

{{#showfeedbacktrackerlink}}
<div class="bg-light pt-2 pb-3 px-3">
    <a href="{{{ config.wwwroot }}}/report/feedback_tracker/">
        <i class="fa-solid fa-circle-arrow-right mr-2" aria-hidden="true"></i>{{#str}} feedbackreport, block_my_feedback {{/str}}
    </a>
    <br>
    <small>{{#str}} feedbackreportdescription, block_my_feedback {{/str}}</small>
</div>
<hr>
{{/showfeedbacktrackerlink}}