{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template blocks_my_feedback/content
    Example context (json):
    {
        "showfeedbacktrackerlink": "true",
        "mods": [
         {
            "icon": "moodleurl/icon.png",
            "coursename": "A course",
            "name": "A mod",
            "url": "foo.php",
            "duedate": "10th Jan 2023",
            "tutorname": "Bob Smith",
            "date": "24th March 2023",
            "requiremarking": "3"
         }
        ]
    }
}}

{{! Mods for feedback and marking. }}
<div class="d-flex">

    <div class="mr-3 bg-cover bg-light rounded-circle flex-shrink-0" style="background-image: url('{{{icon}}}'); height: 4rem; width: 4rem;"></div>

    <div>
        <div class="line-clamp-1 text-muted">
            <small>{{coursename}}</small>
        </div>
        <a href="{{{url}}}" class="font-weight-bold line-clamp-2">{{name}}</a>

        {{#duedate}}
            <div class="small">
                {{#str}} t:due, block_my_feedback {{/str}} {{duedate}}
                {{#requiremarking}}
                    · <a href="{{{markingurl}}}">{{requiremarking}} {{#str}} t:needmarking, block_my_feedback {{/str}}</a>
                {{/requiremarking}}
            </div>
        {{/duedate}}

        {{#releaseddate}}
            <div class="small">
                {{#tutorname}}{{.}} · {{/tutorname}} {{releaseddate}}
            </div>
        {{/releaseddate}}
    </div>
</div>
